.navbar-default .navbar-collapse {
  background: white;
  padding-bottom: -5px;
}

.navbar-header .navbar-brand img {
  margin-top: -7px;
  width: 120px;
  opacity: 0.4;
}

.navbar-header .navbar-toggle .collapsed {
  color: #323149;
} 

.top-bar {
  background-image: url("../img/image-1.jpg");
  min-height: 475px;
  background-size: cover;
  margin-top: -10px;
  border-bottom: 5px solid #323149;
}

.top-bar .row {
  text-align: center;
  margin-top: 120px;
  color: white;
}

.top-bar h1 {
  padding-bottom: 5px;
}

.top-bar hr {
  padding-bottom: 10px;
  width: 18%;
  opacity: 0.4;
  font-family: "Source Sans Pro", sans-serif;
}

.top-bar .btn {
  width: 150px;
  height: 50px;
  border-radius: 6px;
  background: Transparent;
  border: 1px solid white;
  color: white;
}
/* Introduction Button on Hover Styling */
.top-bar .btn:hover {
  background: Transparent;
  color: grey;
}

#about {
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

#about p {
  margin: 10px;
  padding: 10px;
}

#about .col-lg-6, #about .col-lg-12 {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  margin: 5px;
  border-radius: 5px;
}

#about .col-lg-12 {
  margin-left: -10px;
  width: 103%;
}

#about img {
  width: 43%; /* CHANGE SIZE OF ABOUT SECTION IMAGE BY REPLACING "43%" */
  margin-top: 3px;
  margin-right: -85px;
  background-size: cover;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}

#about hr {
  border: 0;
  clear:both;
  display:block;
  width: 15%;            
  background: black;   
  height: 1px;
  opacity: 0.6;
  margin-bottom: 40px;
}

#hr-about-bottom {
  border: 0;
  clear:both;
  display:block;
  width: 9%;            
  background: black;   
  height: 1px;
  opacity: 0.6;
  margin-top: 40px;
}